@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color: blueviolet;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding:15px 200px;
    z-index: 999;
    width: 100%;
    align-items: center;
}



.logo{
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
}

.navigation a{
    padding-left: 30px;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.navigation a:hover{
    color: black;
}

section{
    padding: 200px 200px;
}

min-btn{
    font-size: 16px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
 color: #f0f0f0;
 font-size: 1.4em;
 font-weight: 600;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: blueviolet;
    font-size: 2em;
    font-weight: 700;
}



.main h3{
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.done{
    color: blueviolet;
    text-underline-offset:8px;
}

.satisfaid{
    color: blueviolet;
    text-underline-offset:8px;
}

.main-btn {
   color: #f0f0f0; 
   text-decoration: none;
   background-color: blueviolet;
   font-size: 1.1em;
   font-weight: 600;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   letter-spacing: 1px;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: 0.3s ease;
}

.main-btn:hover{
    background-color: rgb(115, 39, 187);
    transform: scale(1.1);
}

#services{
    background-color:#2a2a2a;
}

.title{
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card1{
    background-color: #f0f0f0;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.3s ease;
}

.card1:hover{
    transform: scale(1.1);
}

.icon{
    color: blueviolet;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: blueviolet;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.title1{
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#skills-card{
    background-color: #2a2a2a;
}


#content {
    background-color: #2a2a2a;
}


.footer{
    background-color: blueviolet;
    color: #f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 700;
}
.footer-title span{
    color: #2a2a2a;
}
/* for the responsive design so i can call the upper h2  */
.hello11{
    text-decoration: none;
}

/* first break point for the navbar  */
@media(max-width:789px) {
    
    body{
        background-color: #2a2a2a;
    }

    header{
        padding: 12px 50px;
    }
    
    
    .logo{
         font-size: 1em;
        
    }

    .navigation a{
        padding-left: 20px;
        font-size: 0.9em;
    }
    section{
        padding: 100px 100px;
    }
}
/* first break point of the h3 */

@media (max-width:971px) {
    .main h3{
      font-size: 1.5em;
    }
}
/* second break point for the h3 */
@media (max-width:832px) {
    .main h3{
      font-size: 1em;
    }
}
/* first edit on the (web developer) h2 to look better */
@media (max-width:550px) {
    .main h2 span{
        font-size: 1.5em;
    }
}
/* the button was too big so i made it smaller and made border radius a put it down */
@media (max-width:577px) {
    .main-btn{
        font-size: 1.2em;
        border-radius: 10px;
    }
}
/* the second break point of the h3  */
@media (max-width:501px) {
    .main h3 span{
        font-size: 1.5em;
    }
}
/* made the h2 a bit smaller */
@media (max-width:501px) {
    .main h2 span{
        font-size: 1.9em;
    }
}


@media(max-width:501px) {
    .hello11{
        font-size: 1.4em;
    }
}

@media (max-width:461px) {
    section{
        padding: 50px 50px;
    }
}


@media (max-width:427px) {
    header{
        padding: 10px 50px;
    }

    .logo{
        font-size: 1em;
       
   }
   280

   @media (max-width:427px) {
    header{
        padding: 10px 50px;
    }

    .logo{
        font-size: 1em;
       
   }
   .navigation a{
    padding-left: 8px;
    font-size: 0.7em;
}
}

@media(max-width:537px) {
   body {
    font-size: 12px;
}
}
